#head {
    color: #0a3d62;
}
#messageArea {
    display: none;
}
#online {
    color: white;
    background: #00695C;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 6px -6px black;
}

#chatBox {
    margin: 5px;
}

#chat {
    margin-top: 30px;
}

#fback {
    color: yellow;
}

#messageForm {
    margin-top: 30px;
}

h5 {
    color: rgb(255, 255, 255);
    font-weight: 900;
}

.msssg {
    display: inline-flex;
    /* justify-content: flex-end; */
    float: right;
    /* text-align: right; */
    background-color: #004D40;
    border-radius: 24px;
}

.texxt {
    line-height: 19px;
    color: white;
    margin: 0;
    padding: 10px 19px;
    /* font-size: 1.4em; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.roww {
  display: flex; /* equal height of the children */
}

.col1 {
  flex: 1; /* additionally, equal width */
  
  padding: 0.8em;
  
}

.col2 {

  flex: 9; /* additionally, equal width */
  -ms-flex-align: end;
  padding: 0.8em;
  /* border: solid; */
}

