#head {
    color: #0a3d62;
}
#messageArea {
    display: none;
}
#online {
    color: white;
    background: #00695C;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 6px -6px black;
}

#chatBox {
    margin: 5px;
}

#chat {
    margin-top: 30px;
}

#fback {
    color: yellow;
}

#messageForm {
    margin-top: 30px;
}

h5 {
    color: rgb(255, 255, 255);
    font-weight: 900;
}

.msssg-color {
    background-color: #E0E0E0;
}

.msssg-color-me {
    background-color: #004D40;
}

.texxt-color {
    color: black;
}

.texxt-color-me {
    color: white;
}

.msssg {
    display: inline-flex;
    /* justify-content: flex-end; */
    /* float: right; */
    /* text-align: right; */
    /* background-color: #004D40; */
    border-radius: 24px;
}

.msssg-align-right {
  float: right;
}

.msssg-align-left {
  float: left;
}

.texxt {
    line-height: 19px;
    /* color: white; */
    margin: 0;
    padding: 10px 19px;
    /* font-size: 1.4em; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.roww {
  display: flex; /* equal height of the children */
}

.col1 {
  flex: 1; /* additionally, equal width */
  
  padding: 0.67em;
  
}

.col2 {

  flex: 9; /* additionally, equal width */
  -ms-flex-align: end;
  padding: 0.67em;
  /* border: solid; */
}

/* 
.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loader {
    display: inline-block;
    
    min-height: 100vh;
    transform-origin: 0px 250px;
    margin-top: 250px;
}

.loader > span {
    display: inline-block;
    margin: 4px;
    width: 20px;
    height: 20px;
    background-color: #004D40;
    border-radius: 50%;
   
    transform: scale(0);
    animation: bounce 0.5s linear infinite alternate ;
}

.loader > span:nth-child(2) {
    background-color: #ff4757;
    animation-delay: 0.2s;
}

.loader > span:nth-child(3) {
    background-color: #004D40;
    animation-delay: 0.4s;
}

@keyframes bounce {
    to {
        transform: scale(1) translateY(-26px);
    }
} */

.container {
    display: none;
    opacity: 0;
    transition: opacity 0.7s ease-in;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loader {
    display: inline-block;
    /* justify-content: center; */
    min-height: 100vh;
    transform-origin: 0px 250px;
    animation: rotate 1.24s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
}

.loader_circle {
    display: inline-block;
    height: 25px;
    width: 25px;
    background-color: #004D40;
    border-radius: 50%;
    margin-top: 45vh;
    margin-right: -6px;
    animation: grow 1s linear infinite;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    transform: scale(0);
}

.loader_circle:nth-child(2) {
    background-color: #ff4757;
    animation-delay: 0.45s;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

@keyframes grow {
    50% {
        transform: scale(1);
    }
}